.row {
    list-style-type: none;
    overflow: hidden;
}
.column{
    float: left;
    width: 33%;
    text-align: center;
}
.words-table ,ul.row , ul.row > *{
    background-color: lightblue;
    padding:1px;
}
div.table-header , div.table-header > *{
    font-weight: bold;
    padding-bottom: 8px;
}
