.registration-form{
    background-color: lightblue;
    padding: 50px;
    margin:50px;
    margin-top: 5px;
}
.form-line{
    text-align: center;
    padding: 10px;
}
@media all and (max-width:400px){

  .registration-form{
      margin-right:0px;
      margin-left:0px;
      padding-right:0px;
      padding-left:0px;
  }
  .form-line{
      padding:5px;
  }

}