@import url("https://use.typekit.net/blj6xkx.css")

//VARIABLES 
//colors
$blue: #add8e6
$pink: #e6bfad
$tan: #e6dcad
$purple: #d0ade6
//spacing
$under-header: 10vh
//MIXINS
//buttons
@mixin purple-button
    display: inline-block
    background-color: $purple
    border: .094em solid $purple
    text-transform: uppercase
    text-decoration: none 
    text-shadow: 0 .063em rgba(0,0,0,.3)
    border-radius: .625em
    box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15)
    cursor: pointer
    
//links
@mixin normalize-link
    a, a:hover, a:focus, a:active
        text-decoration: none
        color: black
    a:hover
        color: white
//media queries
$breakpoints: ( 'xsmall': (max-width: 375px), 'small':  ( min-width:  375px ),'medium': ( min-width:  750px ),'large':  ( min-width: 1200px ))!default
@mixin respond-to($breakpoint) 
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) 
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} 
      @content
  // If the key doesn't exist in the map
  @else 
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}."
//fonts
@mixin amatic
    font-family: amatic-sc, sans-serif
    font-weight: 400
    font-style: normal
@mixin amatic-bold
    @include amatic
    font-weight: 700
@mixin nunito
    font-family: nunito, sans-serif
    font-weight: 400
    font-style: normal

//CONFIGURE STYLING

