
@import url("https://use.typekit.net/blj6xkx.css")

//MIXINS
//links
@mixin normalize-link
    a, a:hover, a:focus, a:active
        text-decoration: none
        color: black
    a:hover
        color: white
        
//media queries
$breakpoints: ( 'xsmall': (max-width: 375px), 'small':  ( min-width:  375px ),'medium': ( min-width:  750px ),'large':  ( min-width: 1200px ))!default
@mixin respond-to($breakpoint) 
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) 
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} 
      @content
    
  // If the key doesn't exist in the map
  @else 
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}."
//VARIABLES 
//fonts
$amatic: amatic-sc, sans-serif
//colors
$blue: #add8e6
$pink: #e6bfad
$tan: #e6dcad
$purple: #d0ade6
//CONFIGURE STYLING
.registration
    padding-top: 10vh
    .summary
        text-align: center
    .register
        .header

