@import ./App
header
    background-color: $pink
    color: white
    height: 10vh
    width: 100%
    position: fixed
    display: flex
    .logo
        @include normalize-link
        @include amatic-bold
        font-size: 6vh
        padding: 0vh 0vh 2vh 1.2vh
    .nav-container
        @include normalize-link
        @include amatic-bold
        position: absolute
        right: 0
        float: right
        nav .link
            padding: 6.5vh 1vh
            float: left
            font-size: 3vh
            text-align: center
        nav .text
            color: black